[submodule "models/baseline"]
	path = models/baseline
	url = https://github.com/FakeNewsChallenge/fnc-1-baseline.git
[submodule "models/athene_system"]
	path = models/athene_system
	url = https://github.com/hanselowski/athene_system.git 
